name: Download Release

# Controls when the workflow will run
on: push

jobs:
  get_asset:

    runs-on: ubuntu-latest

    steps:

      - name: List Releases
        run: gh release list --repo viniciusft81/hello-world-CI
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Fetch asset
        run: gh release download --repo viniciusft81/hello-world-CI jar-v2
        env:
          GH_TOKEN: ${{ github.token }}

      - name: See what we downloaded
        run: ls
