name: Download Release

on: 
  push: #evento do Github que aciona o workflow
    branches: [ main ]
jobs:
 release-jar:
    name: Download artefato Jar
    runs-on: ubuntu-latest #o tipo de máquina na qual o job vai rodar
    steps: #sequência de tarefas que serão realizadas
     - name: Download jar
       uses: robinraju/release-downloader@v1.6
       with: 
        repository: "viniciusft81/hello-world-CI"
        latest: true
        tag: "jar-v2"
        fileName: "app.jar"
        out-file-path: "$GITHUB_WORKSPACE/my-downloads"
        token: "PRIVATE_REPO_TOKEN"
        github-api-url: "https://api.github.com"
