name: Download Release

# Controls when the workflow will run
on: push

jobs:
  get_asset:
    runs-on: ubuntu-latest
    steps:
    - name: wget
      uses: wei/wget@v1
      with:
        args: -qO- https://github.com/viniciusft81/hello-world-CI/releases/download/jar-v2/app.jar
   
    - name: See what we downloaded
      run: ls

