name: Download Release

# Controls when the workflow will run
on: push

jobs:
  get_asset:
    runs-on: ubuntu-latest
    steps:

      - name: List Releases
        run: gh release list --repo viniciusft81/hello-world-CI
        env:
          GITHUB_TOKEN: ${{ secrets.github.token }}

      - name: Fetch asset
        run: gh release download --repo viniciusft81/hello-world-CI jar-v2
        env:
          GITHUB_TOKEN: ${{ secrets.github.token }}

      - name: See what we downloaded
        run: ls
